//--------------------------------------------------------------
// Colors
// -------------------------------------------------------------
$dark-blue: #0B486B;
$light-blue: #42839B;
$ivory: #FFFBEB;
$tan: #D9CEB2;
$blackberry: #341127;
$red: #80061C;

$color-background-header: $dark-blue;
$color-transparent-header: rgba($color-background-header, 0.95);
$color-background-body: #fff;
$color-background-home: $light-blue;
$color-transparent-home: rgba($color-background-home, 0.5);
$color-background-screen-reader: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;
$color-background-footer: $blackberry;

$color-text-main: $blackberry;
$color-text-screen-reader: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-text-footer: $ivory;
$color-text-home: $ivory;
$color-link: $light-blue;
$color-link-visited: $dark-blue;
$color-link-hover: $dark-blue;
$color-link-header: $ivory;
$color-link-footer: $tan;
$color-logo: $light-blue;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;

$color-button-home: $dark-blue;