// Home Page 

.home {
	background-color: $color-background-home;
	.site-header-logo > h1 {
		margin: 35% 0 0 0;
		font-size: 2em;
		a {
		background-image: url("images/logo-ivory.svg");
		padding: 6.25em 0 0 0.1em;
		background-size: 9.75em;
		color: $color-text-home;
		}
	}
	p {
		color: $color-text-home;
		font-family: $font-serif;
		font-style: italic;
		font-size: 2em;
		text-align: center;
		text-shadow: 0px 2px 2px darken($color-background-home, 10%);
		margin-top: -3em;
	}
	.entry-title {
		display:none
	}
	.site-header {
		background-color: $color-background-home;
	}
	.entry-content, .hentry {
		margin: 0;
	}
	.site-header > nav {
		background-color: transparent;
	}
	.main-navigation {
		@include outer-container;
		padding-top: 3em;
	}
	ul {
		text-align: center;
		margin: 0;
	}
	.menu-item {
		display: inline;
	a {
      @include button(flat, $color-button-home);
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 1em;
      padding: 16px 12px 12px 12px;
      margin: 0 .5em 0 .5em;
      @include header-font;
	}
}
	.current-menu-item {
		background: none;
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.home {
	.site-header-logo > h1 {
		margin: 35% 0 0 0;
		font-size: 2em;
}
}
}