//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;
	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Main navigation (after creating a menu in the dashboard)
.nav-wrapper {
}
.main-navigation {
		$nav-height: 4em;
		@include size(100% auto);
		clear: both;
		display: block;
		float: left;
		
	// Menu hyperlinks
	a {
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: $color-link-header;
		width: $nav-height*2;
		@include header-font;
		&.menu-toggle {
			display: none;
		}
	}
	@media screen and (max-width: 900px) {
		a {
			width: $nav-height*3;
		}
	}
	// Menu logo
	.menu-item-home a {
		display: none;
	}
	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
		// Menu area
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
	}

	// Menu items
	li {
		display: inline;
		text-align: center;
		width: 100%;
		line-height: $nav-height;
		&:hover > a {
			background-color: $color-link;
		}
	}
}
// Sticky nav
.anchor {
	&.anchor-moved {
		position: fixed;
		top: 0;
		.menu-item-home a {
			background: url("images/logo-lt-blue.svg") no-repeat center center;
			background-size: auto 3em; 
			display: inline-block;
			color: transparent;
			text-indent: -9999px;
		}
	}
}
// Small menu

@media screen and (max-width: 600px) {
	.nav-wrapper a {
		width: 100%;
	}
	.menu-toggle {
		text-align:right;
		padding: .5em;
	}
	.anchor-moved a.menu-toggle {
		background: url("images/logo-lt-blue.svg") no-repeat left .5em center;
		background-size: auto 2em;
	}
	.nav-wrapper a.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.main-navigation ul,
	.main-navigation li.menu-item-home {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include margin(0 0 24px 0);
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
