//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;
	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Default menu (active after a fresh WordPress install)

.menu {

	ul {

		li {
			@include margin(0 10px 0 0);
		}

	}

}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	@include size(100% auto);
	$nav-height: 4em;
	clear: both;
	display: block;
	float: left;

	// Menu area
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
	}

	// Menu items
	li {
		display: inline;
		text-align: center;
		width: 100%;
		line-height: $nav-height;
		&:hover > a {
		}
	}

	// Menu hyperlinks
	a {
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-link-header;
		width: $nav-height*3;
		@include header-font;
	}

	// Menu logo
	.menu-item-home a {
		background: url("images/logo-lt-blue.svg") no-repeat center center;
		background-size: auto $nav-height*0.7; 
		color: transparent;
		text-indent: -9999px;
	}
	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Small menu

.menu-toggle, 
.mobile-logo {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.mobile-logo,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul,
	.main-navigation li.menu-item-home {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include margin(0 0 24px 0);
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
