//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;
	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Primary Menu

$nav-height: 4em;
.main-navigation {
	@include size(100% auto);

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: $color-link-header;
		width: 100%;
		line-height: $nav-height;
		height: 4em;
		@include header-font;
		@include wider-than(tablet-portrait) {
			display: inline-block;
			width: $nav-height*2;
			&.menu-toggle {
				display: none;
			}
		}
		@include wider-than(tablet-landscape) {
			width: $nav-height*3;
		}
	}
	// Menu logo
	.menu-item-home a {
		display: none;
	}
	// Current items
	.current_page_item a,
	.current-menu-item a {
		background-color: $color-transparent-home;
	}

	// Menu area
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
		display: none;
		@include wider-than(tablet-portrait) {
			display: block;
		}
	}

	// Menu items
	li {
		display: inline;
		text-align: center;
		width: 100%;
		a {
			padding-top: .1em;
		}

		&:hover > a {
			background-color: $color-background-home;
		}
		.menu-item-home a {
			display: none;
		}
	}
}

// Sticky nav
.anchor {
	&.anchor-moved {
		position: fixed;
		top: 0;
		.menu-item-home a {
			background: url("images/logo-lt-blue.svg") no-repeat center center;
			background-size: auto 3em; 
			color: transparent;
			text-indent: -9999px;
			&:hover {
				background: url("images/logo-dk-blue.svg") no-repeat center center;
				background-size: auto 3em; 
				background-color: $color-background-home;
			}
			@include wider-than(tablet-portrait) {
				display: inline-block;
			}
		}
		a.menu-toggle {
			background: url("images/logo-lt-blue.svg") no-repeat left .5em center;
			background-size: auto 2em;
		}
	}
}

.menu-toggle {
	text-align:right;
	padding: .5em;
}

.main-navigation.toggled .nav-menu {
	display: block;
}

// Internal Nav
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include margin(0 0 24px 0);
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}